<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!-- Currently only ascii and apl supported -->
    <!-- Uncomment to use the apl as default Lexer Mode-->
    <!-- <add key="LexerMode" value="apl" /> -->
  </appSettings>
</configuration>
